body {
    font-family: times new roman;
   background-color:        #7B1818;


}

header {
    background: url('https://t3.ftcdn.net/jpg/04/09/46/80/360_F_409468065_pAFnVy3TOXNmeuH02kn8mvpmTCJ41hrg.jpg'); 

}

h1, h2, h3 {
    color: #333;
}

.card {
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}

.carousel {  
    padding: 10px; 
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

.carousel-item img {
    width: auto;
        max-width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: cover;
        margin: 0 auto;
}
 .carousel-inner {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}

